.home-container {
    width: 100vw;
    height: 60px;

}

.top-bar-container {

    height: 5rem;
    display: flex;
    align-items: center;

}




.task-container {
    width: 100vw;
    height: calc(100vh - 60px);



    background-color: #f4f5f8;
    width: max-content;
    overflow-x: auto;
    flex: 1;

}

@media(max-width : 720px) {}