.task-board-container {}

.board-wrapper {
    width: max-content;
    height: 100vh;
    background-color: #f4f5f8;

    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 2rem 5rem;


}


@media (max-width: 720px) {
    .board-wrapper {
        flex-direction: column;
        width: 100vw;
        height: max-content;
        gap: 3rem;

    }
}